body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    cursor: url(Cursor/cursor.cur),auto;
    
}

video {
    width: 100%; 
    height: 100%;
    
   position: fixed; 
object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    
   


}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    
}



body h1  {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 70px;
    line-height: 100px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);
    font-family: cyberpunk;
    cursor: url(Cursor/cursor.cur),auto;
   
}
body p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10px;
    
    font-weight: 100;
    letter-spacing: 1px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);
    color: #fff;
   
}

body h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);
    
    
}

footer{
    background-attachment: fixed;
   
    
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 100;

   
}


 div {
    width: 1000px;
    height: auto;
    background-color: #00000050;
    margin: auto;
   
   padding: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
   letter-spacing: 2px;
    text-transform: uppercase;
    color: #f3ef10f8;
    box-shadow: 0 15px 23px 0 rgba(0, 0, 0, 1.24), 0 17px 50px 0 rgba(0, 0, 0, 2.19);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);

   
}
/* Estilos para os botões */
button {
    padding: 10px 23px;
    margin: 10px;
    border: 2px solid rgb(0, 0, 0);
   color: #ccc4c4;
    font-size: 16px;
    cursor: pointer;
    border-radius: 05%;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0 ), 0 17px 50px 0 rgb(0, 0, 0);
    background-color: #00000013;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);
    cursor: url(Cursor/NeonLinkSelect07-Yellow.cur),auto;
}

/* Estilos para a área de conteúdo */
#conteudo {
    margin-top: 20px;
    padding: 0%;
    font-size: 15px;
   
    align-items: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);
   
    
}
 button:hover{
    background-color: #00000000;
    color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    
   padding: 0,8%;
    transition: 0.4s;
    box-shadow: 0px 10px 16px 0 rgba(43, 40, 40, 0), 0 20px 50px 10px rgba(66, 65, 65, 0);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1.5);
 }
 img {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 1.24), 0 20px 50px 0 rgba(0, 0, 0, 1.19);
    border: 3px solid black;
 }

 #imagens1{
    width: 100%;
    height: 90%;
    
 margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.24), 0 20px 50px 0 rgba(0, 0, 0, 1.19);
   
    align-items: center;

 }

 #texto{
    color: #ecdd0c;
    margin-top: 20px;
    padding: 0%;
    font-size: 15px;
   text-size-adjust: 20px;
    align-items: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0, 2.5);

   text-transform: uppercase;
letter-spacing: 1px;


 }

 #e{
    color: #00000013;
 }

 #imagem{

    width: 100%;
    height: 100%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.24), 0 20px 50px 0 rgba(0, 0, 0, 1.19);
    border: 3px solid black;
    margin-right: 10%;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0, 2.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    text-size-adjust: 20px;
    align-items: center;
   
 }
 #botao0{
    margin-right: 50%;
 }

 #paginainicial{

    width: 1022px;
    height: 100%;
    padding:0%;
   
    border-color: #00000046;
    border-style: outset;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 1.24), 0 20px 50px 0 rgba(0, 0, 0, 2.19);

 }

 #resultados{
    box-shadow: #070707;
    background-color: #070707ad;
    
    padding: 0%;
   
 }

 #caixaPesquisa{
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 1.24), 0 10px 18px 0 rgba(0, 0, 0, 1.19);
    background-color: #070707;
    
    padding: 0%;
    transition: 0,5s;
    
 }
 
 #caixaPesquisa:hover{
    background-color: #00000067;
    padding: 1%;
    transition: 0.5s;
    
    
    

 }

 
#vidiu{
width: 10px;
    height: 10px;
   margin-left: 1450px;
   margin-top: 300px;


    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 1.24), 0 10px 18px 0 rgba(0, 0, 0, 1.19);
   

position: fixed; 

    top: 0;
    left: 0;
    


    
}

a{
    cursor: url(Cursor/NeonLinkSelect07-Yellow.cur),auto;
}

audio{
   
    

    display: block;

    align-items: center;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.24), 0 20px 50px 0 rgba(0, 0, 0, 1.19);
    border: 3px solid black;
    
 

    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0, 2.5);

}